MONOPARTS_ENV=production
MONOPARTS_STORE_ID=
MONOPARTS_SIGNATURE_SECRET=
MONOPARTS_BROKER_ID=
MONOPARTS_TIMEOUT=30
MONOPARTS_CONNECT_TIMEOUT=10
MONOPARTS_VERIFY_RESPONSE_SIGNATURE=false
MONOPARTS_CALLBACK_PATH=/monoparts/callback
MONOPARTS_LOG_CHANNEL=monoparts
MONOPARTS_LOG_LEVEL=info
