/vendor/
/node_modules/
/coverage/
/build/
/composer.lock

.idea/*
/.idea/*
/.idea/*.xml

/.phpunit.result.cache
/.phpunit.cache/

/.env
.env.*
!.env.example

/.idea/
/*.iml
/*.xml

/tests/workbench/storage/
/tests/workbench/bootstrap/cache/

.DS_Store
Thumbs.db
